.home-section {
  background-image: url("../assets/black-background.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  padding-top: 6em;
}

.home-img {
  margin-top: 8em;
  margin-right: 2em;
}

.p-square-brack {
  font-size: 20em;
}

.p-my-name {
  font-size: 4em;
  margin-top: 2em;
}

.p-my-title {
  font-size: 2em;
}