.projects-section {
  background-color:  #282c34;
  height: 100%;
}

.hr-projects {
  border-top: 3px solid rgb(255, 145, 0)
}

.btn.btn-primary {
  background-color: rgb(255, 145, 0);
  border: 2px solid rgb(255, 145, 0);
}

.btn.btn-primary:hover {
  background-color: transparent;
  border: 2px solid rgb(255, 145, 0);
}

.card-effects:hover {
  box-shadow: 2px 2px 10px 2px rgb(255, 145, 0);
}